.ty__window {
  width: 200px;
  height: 150px;
  padding: 20px;
  border-radius: 12px;
  background-color: white;
  text-align: center;
}
.ty__wrapper {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  transition: 0.5s;
  pointer-events: none;
}

.ty__wrapper.active {
  opacity: 1;
  pointer-events: all;
}

.ty__window.active {
  transform: scale(1);
}
