.user__block {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}

.inputs {
  margin: 10px auto;
  width: 288px;
  height: 56px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  border-radius: 16px;
  padding: 16px;
}

.input__form {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin: 0 auto;
  position: relative;
}

.error__input {
  letter-spacing: -0.02em;
  position: absolute;
  color: #e43f3f;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  width: 256px;
  height: 16px;
}

.name__error {
  top: 65px;
}

.number__error {
  top: 142px;
}

.error__input::before {
  background-image: url(./img/cancel-btn.svg);
  width: 24px;
  height: 24px;
  content: "";
  position: absolute;
  bottom: 30px;
  right: -20px;
  pointer-events: none;
}

.valid {
  border: 1px solid #4bcfa0;
}

.unvalid {
  border: 1px solid #e43f3f;
}
